.sendForm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.textarea {
    flex: 1 0 auto;
    border-radius: 20px;
    background: #F5F7FB;
    box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.10), 0px 5px 20px 0px rgba(29, 33, 38, 0.03);
    height: 40px !important;
    resize: none;
    padding: 12px 24px;
    color: rgba(0, 0, 0, 0.60);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background: #06C;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Montserrat', sans-serif;
}

.button:hover {
    cursor: pointer;
    background: #0059b3;
}
.button:active {

}
